
body{
    background:black;
}

.button-wrapper {
    position: relative;
    top: 7%;
    z-index: 999;
}

.button-container {
    width: 10%;
    float: left;
    background-color: #7d9990;
    margin: 20px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    
}

span.button-text {
    position: relative;
    top: 40%;
    text-align: center;
    font-weight: bold;
}



.side-button-wrapper {
    position: relative;
    top: -18%;
    left: 52%;
    width: 100px;
    z-index: 999;
}

.side-button-container {
    background-color: #7d8999;
    margin: 10px 0 10px 0;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.side-button-container span.button-text {
    position: relative;
    top: 22%;
    text-align: center;
    font-weight: bold;
    color:white;
}


.game-wrapper {
    height: 200px;
    width: 200px;
    position: relative;
    top: 11%;
    left: 20%;
}

.game-image {
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-image: url(imgs/0.png);
}

.gold-image {
    bottom: 141px;
    left: 20px;
}


.matrix.x {
    height: 108px;
    width: 200px;
    background-size: 196px 70px;
    background-repeat: no-repeat;
    background-image: url(imgs/matrix-x.png);
}

.matrix.y {
    height: 108px;
    width: 100px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
    background-image: url(imgs/matrix-y.png);
}

.matrix.z {
    height: 108px;
    width: 100px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
    background-image: url(imgs/matrix-z.png);
}

.matrix.h {
    height: 108px;
    width: 100px;
    background-size: 80px 70px;
    background-repeat: no-repeat;
    background-image: url(imgs/matrix-h.png);
}




.qubit.x {
    height: 130px;
    width: 294px;
    background-size: 261px 118px;
    background-repeat: no-repeat;
    background-image: url(imgs/info-x.png);
}

.qubit.y {
    height: 130px;
    width: 294px;
    background-size: 261px 118px;
    background-repeat: no-repeat;
    background-image: url(imgs/info-y.png);
}

.qubit.z {
    height: 130px;
    width: 294px;
    background-size: 261px 118px;
    background-repeat: no-repeat;
    background-image: url(imgs/info-z.png);
}

.qubit.h {
    height: 130px;
    width: 294px;
    background-size: 261px 118px;
    background-repeat: no-repeat;
    background-image: url(imgs/info-h.png);
}

.info-wrapper {
    position: absolute;
    left: 64%;
    bottom: 50%;
}